Results/Project1/HMGB/
Results/Project1/co_binding/meme_chip/
Results/Project1/script_motif_enrichment/ClusterOutput/
Results/Project2/HMGB/meme_chip/
Results/Project2/HMGB/motif_enrichment/footprints/HD_H3K4me1_ModelHuvec_10.bed
Results/Project2/HMGB/motif_enrichment/results/HMGB1/Match/
Results/Project2/HMGB/motif_enrichment/results/HMGB2/Match/
Results/Project2/HMGB/motif_enrichment_top_peaks/results/HMGB1_hg19_top500_fp_withpeak/Match/
Results/Project2/HMGB/motif_enrichment_top_peaks/results/HMGB2_hg19_top500_Broad_fp_withpeak/Match/
Results/Project2/HMGB/motif_enrichment_top_peaks/results/HMGB2_hg19_top500_Narrow_fp_withpeak/Match/
Results/Project2/HMGB1_HUVEC/motif_enrichment/results/Match/
Results/Project2/HMGB2_IMR90/motif_enrichment/OLD/Match/
Results/Project2/HMGB2_IMR90/motif_enrichment/results/HMGB2_p10/Match/
Results/Project2/HMGB2_IMR90/motif_enrichment/results/HMGB2_p28/Match/
Results/Project2/MotifEnrichment/motif_enrichment/